# Folders
.Rproj.user/
data/Kommuner_2018_WGS84
data/NorgeKommuner_clipped_kystkontor 
*.zip

# History files
.Rhistory
.Rapp.history

# RDS files
*.rds

# PDF files
*.pdf

# Shape files
*.shp

# Others
1b_Data_from_Hønsefuglportalen_wrangling.R
manuscript


